* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    border: 1px solid #4e085f;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background:linear-gradient(135deg, #153677, #4e085f);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(OIP.jpeg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 12px;
}

ul .checked {
    color: #555;
    text-decoration: line-through;
}

ul .checked::before {
    background-image: url(OIP-removebg-preview.png);
    
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

@media screen and (max-width: 768px) {
    .todo-app {
        margin: 150px auto;
        padding: 30px 20px 60px;
    }

    .row {

        align-items: stretch;
        padding-left: 15px;
    }

    input {
        width: 100%;
        margin: 5px; 
    }

    button {
        width: 25%;
        padding: 10px ;
        font-size: 15px;
    }

    ul li {
        font-size: 16px;
        padding-left: 40px;
    }

    ul li::before {
        top: 10px;
        left: 10px;
    }

    ul li span {
        top: 5px;
        right: 5px;
    }
    
}

@media screen and (max-width: 480px) {
    .todo-app {
        padding: 20px 15px 50px;
    }

    h2 {
        font-size: 20px;
    }

    .row {
        padding-left: 10px;
    }

    button {
        font-size: 14px;
    }

    ul li {
        font-size: 15px;
    }

    ul li span {
        font-size: 20px;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}